body {
    margin: 0 auto;
    background: url("https://github.com/drewlearnsabout/Personal-Profile/blob/master/dc-89.jpg?raw=true");
    background-size: cover;
}

nav {
    width: 100%;
    background: black;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 60% 30%;
    justify-items: center;
    opacity: 0.2;
}

nav:hover {
    opacity: 1;
}

nav a {
    color: white;
}

.topIcons {
    background: rgb(255, 203, 61);
    padding: 2px;
    border-radius: 4px;
    height: 2em;
    width: 2em;
}

.topIcons:hover {
    cursor: pointer;
    animation-name: resize;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

header {
    margin: 15em 0 0 35em;
    display: grid;
    justify-items: center;
}

h1 {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

#social_icons {
    padding-top: 0.5em;
    text-align: center;
}

#social_tiles_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social_icon_size {
    height: 1.1em;
    width: 1.1em;
    background: rgb(219, 214, 214);
    border-radius: 1em;
}

.social_icon_size:hover {
    animation-name: resize;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 7em 0 0 0;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba (0, 0, 0, 0.4);
}

.modal-content {
    display: grid;
    color: white;
    grid-template-columns: 1fr 400px;
}

.pictureSize {
    height: 25em;
    width: 30em;
    border-radius: 0.5em;
}

.close {
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
}

.slideshowContainer {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.text {
    color: white;
}

.prev, .next {
    /* Figure out how to move the next and prev
    buttons!!! */
}

.prev:hover, .next:hover {
    background: rgba(85, 84, 84, 0.8);
    cursor: pointer;
}

@media (max-width: 800px) {
    header {
        margin: 2em 0 0 0;
    }
}

@keyframes resize {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
    }
}