.social_icon_size {
    height: 50px;
    width: 50px;
}

.social_icon_size:hover {
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#main {
    margin-top: 3em;
    font-family: lato;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    grid-template-areas:
        "a"
        "b"
        "c";
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(164deg, rgba(2,0,36,1) 0%, rgba(98,92,113,1) 0%, rgba(38,38,83,1) 73%, rgba(116,117,162,1) 100%);
    top: 0;
    height: auto;
    width: 100%;
    z-index: -1;
}

#navbar {
    grid-area: a;
}

#nav-move {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 7em);
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(207,207,207,1) 24%, rgba(59,59,59,1) 100%);
    border-bottom: 1px solid orange;
}

.nav_tiles {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 0 20px 20px;
    color: white;
}

.nav_tiles:hover {
    animation-name: beat, fade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

#welcome-station {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    border-bottom: 1px solid orange;
}

#contact {
    display: grid;
    max-width: 750px;
    justify-self: center;
    grid-template-columns: 1fr;
}

#contact_me {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    grid-template-areas:
        ". . e . ."
        "a a a . ."
        "b b b . c"
        "f . . . c"
        "d d d . ."
        "d d d . .";

}
#contact_me p {
    grid-area: e;
}

#name {
    grid-area: a;
    border-radius: 5px;
}

#email {
    grid-area: b;
    border-radius: 5px;
}

#addition {
    grid-area: f;
    border-radius: 5px;
}

#comments {
    grid-area: d;
    font-family: lato;
    border-radius: 5px;
}

#submit {
    grid-area: c;
    border-radius: 20%;
    cursor: pointer;
}

#submit:hover {
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#footer {
    display: grid;
    justify-items: center;
}

#social_icons {
    display: grid;
}

#social_tiles_list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "i l g";
}

#instagram {grid-area: i;}
#linked_in {grid-area: l;}
#git_hub{grid-area: g;}

#projects {
    display: grid;
    background: rgba(228, 228, 228, 20%);
    font-weight: bold;
    text-transform: uppercase;
    justify-items: center;
    border-bottom: 1px solid orange;
}

#projects p {
    justify-self: center;
}

#project-tile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em 5em;
}

.tiles {
    height: 180px;
    width: 200px;
    border: 2px solid rgb(119, 118, 118);
    border-radius: 40px;
}

.tiles:hover {
    animation-name: beat;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#profile-link {
    display: grid;
    justify-items: center;
}

#profile-link a {
    text-decoration: none;
    color: white;
}

#profile-link a:hover {
    animation-name: beat;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 5px;
}

@keyframes beat {
    0% {
        transform: scale(1);
        top: 0;
    }
    50% {
        transform: scale(1.1);
        top: 0;
    }
}

@keyframes fade {
    0% {
        background: rgb(78, 77, 77);
    }
    50% {
        background: rgb(194, 126, 0);
    }
}

@media (max-width: 550px) {
    #main {
        margin-top: 7em;
    }
    #project-tile {
        grid-template-columns: 1fr;
        transform: scale(0.8);
    }
    #contact_me {
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
        ". . e . ."
        ". a a a ."
        ". b b b ."
        ". f f f ."
        ". d d d ."
        ". d d d ."
        ". . c . .";
    }

    #contact_me p {
        font-size: 0.7em;
    }

    #nav-move {
        grid-template-columns: repeat(1, 6em);
        justify-content: center;
    }
    .nav_tiles {
        padding: 10px 0 10px 20px;
    }
}
