.tiles {
    height: 200px;
    width: 220px;
    border: rgb(163, 163, 163);
    border-radius: 15px;
}

.social_icon_size {
    height: 50px;
    width: 50px;
}

#social_tiles_list {
    list-style-type: none;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "a"
        "b"
        "c";
}

#navbar {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: right;
    grid-column-gap: 1em;
}

.nav_tiles {
    text-decoration: none;
    color: 
}

#welcome-station {
    display: grid;
    justify-items: center;
}

#contact_me {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        ". e ."
        "a a c"
        "b b c"
        "d d c";
}
#contact_me p {grid-area: e;}
#name {grid-area: a;}
#email {grid-area: b;}
#comments {
    grid-area: d;
    font-family: lato;
}
#submit {
    grid-area: c;
}

#social_tiles_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        ". . . i ."
        ". . l . ."
        ". g . . .";
}

#instagram {grid-area: i;}
#linked_in {grid-area: l;}
#git_hub{grid-area: g;}

#contact {
    background: rgb(91, 107, 141);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer {
    display: grid;
    justify-items: center;
    background: rgb(172, 168, 168);
    color: rgb(80, 80, 80);
}

